/*  your css code here. If applicable */
.container{
	justify-content:space-around;
	padding-left:30px;
	padding-right:30px;
	align-items:center;
	text-align:center;
	display:flex;
	background-color:#D3D3D2;
	max-width:260px;
	height:150px;
	border:3px solid black;
	border-radius:40px;
}
.green{
	
	background-color:green;
	width:80px;
	height:80px;
	border:none;
	border-radius:40px;

}
.yellow{
	background-color:yellow;
	width:80px;
	height:80px;
	border:none;
	border-radius:40px;

}
.red{
	background-color:red;
	width:80px;
	height:80px;
	border:none;
	border-radius:40px;

}




